@using PagedList
@using PagedList.Mvc
@model IPagedList<prjShoppingCar.Models.tProduct>


@{
    ViewBag.Title= "歡迎回來，管理員！";

}
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="row-no-gutters" style="margin-top:20px;">
    <h style="color: red; font-size:30pt;">@ViewBag.Title</h>




</div>